/*CSS Document*/
:root {
    --salmon: #FF938C;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --pinksunrise: #f86486;
    --babypink: #FF99AE;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
/*    background-color: #FF6F8C;*/

}


html {
    font-size: 62.5%;
    font-family: "Poppins", Verdana, sans-serif;
    background: linear-gradient(300deg, var(--pinksunrise) 16.69%, var(--salmon) 100%);     
    background-repeat: no-repeat;
}

/*---------- MAIN ---------*/
main {
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;


}
.section--1 {
    margin-top: 2rem;
}

.badge {
    width: 29rem;
    height: 29rem;
    border-radius: 50px;
    padding: 5rem 0 2.5rem 2.5rem;
    background-color: #FFFFFF;
    box-shadow: 5px 10px 25px var(--pink);    
}
.section--1 .col1 h1 {
    font-size: 4.5rem;
    font-weight: 300;    
}
.section--1 .col1 h2 {
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 300;
}
.section--1 .col1 h3 {
    font-size: 2rem;
    font-weight: 300;    
}

.section--1 .col2 {
    width: 29rem;
    height: auto;
    display: flex;
    margin: 3rem 0 3rem 0;
    justify-content: center;    
}

.section--1 .col2 img {
    border-radius: 50%;
    border: 4px solid #fff;    
}
